<?xml version="1.0" encoding="utf-8"?>

<jnlp spec="1.6+" codebase="${webstart-codebase-url}" href="$$name">
            
<information>
<title>CGH Array Processor ${project.Version}</title>
<description>${project.description}</description>
<description kind="short"/>
<description kind="one-line"/>
<description kind="tooltip"/>
<vendor>Technology Blueprint</vendor>
<homepage href="http://www.technologyblueprint.co.uk"/>
<shortcut online="true">
<desktop/>
<menu submenu="CGH Array Processor"/>
</shortcut>
</information>
<update check="always" policy="always"/>
#if($webstart-security-all-permissions == "true")
<security>
<all-permissions/>
</security>
#end
<resources>
${dependencies}

</resources>

${nativeDependencies}

<application-desc name="${project.artifactId}" main-class="${mainClass}">
</application-desc>
<update check="background"/>
</jnlp>